/* MISC */

.custhead 
{
  width: 250px;
  position: fixed;
}
.custhead ul 
{
  margin: 0 0 5px;
}
.custwrapper
{
  width: 900px;
}
.custmain
{
  width: 560px;
}
.deflist li
{
  list-style: none;
}
.deflist ul
{
  margin: 4px;
}
.deflist p
{
  padding-top: 10px;
}
.inset
{
  margin-left: 15px;
}
.subdeflist
{
  margin-left: 15px;
}
.custfoot
{
  position: static;
  float: none;
}
.tab-pane.aspnetmvc {
    background-color: rgba(235, 235, 235, 1);
}
.tab-pane.aspnetcore {
  background-color: rgba(222, 247, 228, 1);
}
.tab-pane p.single {
  padding: 10px 0px 10px 20px;
}
.tab-pane ol {
  padding-top: 10px;
  padding-bottom: 10px;
}
ul.nav li.active a {
  color: darkred;
  cursor: default;
}
a.title{
  color: black;
  text-decoration: none;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
.nudge {
  padding-right: 10px;
}

/* NAVBAR STYLE */

.navbar {
  padding: 15px 10px;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

/* SIDEBAR STYLE */

.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 250px;
  position: fixed;
  left: 20px;
  height: 90vh;
  z-index: 999;
  padding-left: 10px;
}

#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 10px;
}

#sidebar ul p {
  padding: 10px;
}

#sidebar ul li {
  margin: 0;
  padding: 0.2em;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}


/*  CONTENT STYLE  */

#content {
  width: calc(100% - 250px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}

#content.active {
  width: 100%;
}

/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #content {
      width: 100%;
  }
  #content.active {
      width: calc(100% - 250px);
  }
  #sidebarCollapse span {
      display: none;
  }
}