/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.second-level-json {
    padding-left: 20px;
}

.cust-control-label {
    font-weight: bold;
}

/* Side by side definition list */
.sbs {
    width: 100%;
}

.sbs dt {
    float: left;
    max-width: 15%;
    font-weight: bold;
}

.sbs dd {
    margin-left: 15%;
    margin-bottom: .25em;
}

.sbs dd::after {
    content: " ";
    display: block;
    clear: left;
}

